.ct-series-a .ct-bar {
  stroke: rgb(218, 32, 32);
  stroke-width: 30px;
  
}
.ct-series-b .ct-bar {
  stroke: rgb(65, 225, 172);
  stroke-width: 25px;
  
}
.temp-box{
  width: 50px;
  
}
.temp{
  display: inline-flex;
}
.max{
background-color: rgb(218, 32, 32);

}
.min{
  background-color: rgb(102, 225, 65);
}
.subt{
  display: block;
  color: blueviolet;
  
  font-size: large;
}
.centro{
  text-align: center;
}
