.ct-series-a .ct-bar {
  /* Color de las barras de la primer serie*/
  stroke: red;
  /* El ancho de las barras */
  stroke-width: 30px;
  
}
.ct-series-b .ct-bar {
  /* Color de las barras de la segunda serie */
  stroke: royalblue;
  /* El ancho de las barras */
  stroke-width: 30px;
  
}

.ct-series-c .ct-bar{
  stroke: cyan;
  stroke-width: 30px;
}
.temp-box{
  width: 50px;
  
}
.temp{
  display: inline-flex;
}
.max{
background-color: red;

}
.min{
  background-color: royalblue;
}

.viento{
  background-color: cyan;
}
.subt{
  display: block;
  color: blueviolet;
  
  font-size: large;
}
.centro{
  text-align: center;
}
